body {
    background: url(../img/uefa\ quizz\ img.jpg)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.quiz-section {
    margin: auto;
    text-align: center;

}
  